.el-time-range-picker{
  width: 354px !important;
  overflow: visible;
}

.el-time-range-picker-content{
  position: relative;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el-time-range-picker-cell{
  box-sizing: border-box;
  margin: 0;
  padding: 4px 7px 7px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.el-time-range-picker-header{
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
}

.el-time-range-picker-body{
  display: flex;
  border-radius: 2px;
  border:1px solid $datepicker-border-color;
}