html, body{
  height: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x:auto;
  font-family: Microsoft Yahei UI;
}

.portal {
  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  // user-select: none;
  width: 100%;
  height: 100%;

  .side-bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 200px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #eee;

    .menu-icon {
        display: inline-block;

        width: 100%;
        height: 50px;

        color: transparent;

        background-image: url('../../assets/icon/content.png');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left;
    }

    &>.menu-bar {
        position: relative;
        top: 70px;

        width: 100%;
        height: calc(100% - 70px);
    }
  }

  .view-right {
    float: right;
    position: relative;
    width: calc(100% - 200px);
    height: 100%;
    overflow: hidden;
  }

  .view-main {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1120px;
    height: calc(100% - 40px);
  }

  .logo{
    width: 200px;
    height: 70px;
    padding: 14px 10px;
    box-sizing: border-box;
    line-height: 44px;
    position: absolute;
    text-align: left;
    user-select: none;
    cursor: pointer;

    & img{
      width: 38px;
      height: 38px;
      vertical-align: top;
    }

    & span{
      font-size:14px;
      color: #2C405A;
    }

    & .btn-menu{
      position: absolute;
      width: 38px;
      height: 38px;
      background-image: url(../../assets/menu.png);
      background-size: 100%;
      right: 5px;
      top:14px;
    }
  }

  .header {
    height: 40px;
    background-color: #fff;
    position: relative;
    color: #000;

    border-bottom: 1px solid rgb(221, 221, 221);

    .tabbar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 200px);
      height: 31px;
      padding-left: 10px;
      z-index: 1;

      .tab {
        border-radius: 0;

        &.tab-active {
          background: linear-gradient(-180deg, #FFFFFF 0%, #F9F9F9 100%);
        }

        .tab-link {
          color: #1F2D3D;
        }
      }
    }

    .tool-bar{
      height: 100%;
      position: absolute;
      right: 0px;
      top:1px;
      z-index: 999;

      width: 200px;
      padding: 0 20px 0 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      display: block;
    }
  }

  .tool-bar-item{
    line-height: 40px;
    display: inline-block;

    &.el-dropdown{
      height: 30px;
      font-size: 12px;
      color: #000;
    }

    .el-dropdown-link .el-icon-triangle-down{
      font-size:12px;
      vertical-align: baseline;
      margin-left: 2px;
      color: #000;
    }

    &.set,
    &.notice{
      width: 18px;
      text-align: center;
    }

    &.set{
      margin-left: 15px
    }

    &.notice{
      margin-left: 10px
    }

    .el-icon-set,
    .el-icon-notice{
      font-size: 14px;
      vertical-align: middle;
    }

    &.user-info{
      margin-left: 14px;
      img{
        width:24px;
        height: 24px;
        border-radius: 100%;
        vertical-align: middle;
      }
      .el-icon-triangle-down{
        font-size: 12px;
        color: #000;
      }
    }
  }
}

.sys-menu {
  position: absolute;
  left: 0;
  top: 70px;

  width: calc(100% - 1px);
  background: #fff;
  height: 100%;
}

.sys-menu-item{

  .sys-menu-child {
    .sys-menu-item-content{
      font-size: 12px;
    }
  }

  .sys-menu-item-content {
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    transition: all .3s ease-in-out;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;

    .sys-menu-icon {
      position: relative;
      top: 3px;
      left: 2px;

      display: inline-block;
      margin-right: 12px;
      width: 16px;
      height: 16px;
      background-image: url('../../assets/icon/content.png');
      background-size: 100% 100%;

      &.child{
        visibility: hidden;
      }
    }

    &:hover {
      background-color: #fafafa;

      .sys-menu-item-arrow:before {
        border-top: 5px solid #fafafa;
      }
    }



    &.active:after, &.mouseover:after {
      content: '';
      width: 3px;
      height: 30px;
      background-color: rgb(39, 152, 251);

      position: absolute;
      top: 9px;
      right: 0;

      animation: fadeIn .3s ease-in-out both;
    }

    .sys-menu-item-arrow {
      border-top: 5px solid #000;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      position: absolute;
      right: 16px;
      top: 22px;

      transform: rotate(0deg);
      transition: all .3s ease-in-out;

      &:before {
        content: '';
        border-top: 5px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        position: absolute;
        top: -6px;
        left: -5px;
        transition: all .3s ease-in-out;
      }

      &.active {
        transform: rotate(180deg);
      }
    }

    @keyframes fadeIn {
      0% { opacity: 0; height: 0; top: 24px; }
      100% { opacity: 1; height: 30px; top: 9px; }
    }
  }
}
