.wrap {
    margin-top: 10px;
}

.placeholder {
    height: 48px;
}

.search-wrap {
    box-sizing: border-box;
    padding: 10px;
    background-image: linear-gradient(-180deg, #f9f9f9, #f4f4f4);
    box-shadow: 0 1px 0 0 #dcdcdc, 0 0 0 0 #dcdcdc, inset 0 0 0 0 hsla(0, 0%, 100%, .5);
    position: absolute;
    width: 100%;
    z-index: 99;
    .el-row {
        margin-bottom: 10px;
        &.mt0,
        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn {
        width: 62px;
    }
    .search-more {
        display: none;
        .el-col {
            margin-bottom: 10px;
        }
        .el-col>.el-col {
            margin-bottom: 0;
        }
    }
    .el-icon-arrow-down {
        transition: transform .5s;
    }
    &.show-more {
        .el-row {
            &.mt0 {
                margin-bottom: 10px;
            }
        }
        .search-more {
            display: block;
        }
        .el-icon-arrow-down {
            transform: rotate(180deg);
        }
    }
}

.grid-wrap {
    padding: 10px;
    height: calc(100% - 48px);
    background: #EFF3F6;
    .table-wrap {
        height: calc(100% - 35px);
        overflow: hidden;
        .el-table {
            height: 100% !important;
        }
    }
}

.pagination-wrap {
    margin-top: 5px;
    .el-pagination {
        padding: 2px 0;
        background: transparent;
    }
}

.search-wrap {
    .el-form-item {
        margin-bottom: 0;
        .el-date-editor {
            width: 100%;
        }
    }
}

.dialog-footer {
    min-height: 36px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 12px;
    border: 1px solid #e2e7ee;
    th {
        text-align: left;
        border-top: 1px solid #e2e7ee;
        background-color: #e5e9f1;
        color: #354052;
    }
    th,
    td {
        border-bottom: 1px solid #e2e7ee;
        padding: 10px;
    }
    td {
        border: 1px solid #e2e7ee;
        color: #45615e;
        &.table-empty {
            text-align: center;
        }
    }
}
