
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496302979647'); /* IE9*/
  src: url('iconfont.eot?t=1496302979647#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496302979647') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496302979647') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496302979647#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont.icon-left:before { content: "\e600"; }

.iconfont.icon-right:before { content: "\e601"; }

.iconfont.icon-close:before { content: "\e736"; }

