.el-card{
  border:1px solid $card-border-color;
  border-radius: $card-border-radius;
  background-color: $color-white;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),
              0 0 6px 0 rgba(0,0,0,.12);
}

.el-card-header{
  padding: calc(#{$card-padding} - 2px) $card-padding;
  border-bottom: 1px solid $card-border-color;
  box-sizing: border-box;
}

.el-card-body{
  padding: $card-padding;
}