@font-face {
  font-family: "element-icons";
  src:url("fonts/iconfont.eot?t=1472440741"), /* IE9*/
  url("fonts/iconfont.woff?t=1472440741") format("woff"), /* chrome, firefox */
  url("fonts/iconfont.ttf?t=1472440741") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("fonts/iconfont.svg?t=1472440741#el-icon") format("svg"); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "element-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-arrow-down:before { content: "\e6b9"; }
.el-icon-arrow-left:before { content: "\e693"; }
.el-icon-arrow-right:before { content: "\e695"; }
.el-icon-arrow-up:before { content: "\e6ba"; }
.el-icon-caret-bottom:before { content: "\e698"; }
.el-icon-caret-left:before { content: "\e696"; }
.el-icon-caret-right:before { content: "\e697"; }
.el-icon-caret-top:before { content: "\e6b5"; }
.el-icon-check:before { content: "\e6bb"; }
.el-icon-circle-check:before { content: "\e69d"; }
.el-icon-circle-close:before { content: "\e6b4"; }
.el-icon-circle-cross:before { content: "\e69c"; }
.el-icon-close:before { content: "\e69b"; }
.el-icon-upload:before { content: "\e6ae"; }
.el-icon-d-arrow-left:before { content: "\e6a1"; }
.el-icon-d-arrow-right:before { content: "\e69f"; }
.el-icon-d-caret:before { content: "\e69e"; }
.el-icon-date:before { content: "\e6a0"; }
.el-icon-delete:before { content: "\e6a3"; }
.el-icon-document:before { content: "\e6a4"; }
.el-icon-edit:before { content: "\e6a2"; }
.el-icon-information:before { content: "\e6a6"; }
.el-icon-loading:before { content: "\e6a7"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e6a8"; }
.el-icon-minus:before { content: "\e6b2"; }
.el-icon-more:before { content: "\e6b1"; }
.el-icon-picture:before { content: "\e6aa"; }
.el-icon-plus:before { content: "\e6a9"; }
.el-icon-search:before { content: "\e6ab"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e6ad"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e6ac"; }
.el-icon-warning:before { content: "\e6b0"; }
.el-icon-delete2:before { content: "\e6a5"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e6af"; }
.el-icon-answer:before { content: "\e609"; }

.el-icon-triangle-down:before{ content: "\e684"; }
.el-icon-triangle-right:before{ content: "\e685"; }
.el-icon-asc:before{ content: "\e686"; }
.el-icon-notice-circle:before { content: "\e689";}
.el-icon-set:before { content: "\e68a";}
.el-icon-desc:before{ content: "\e68d"; }
.el-icon-arrow-down:before { content: "\e68b";}
.el-icon-add:before { content: "\e68c"; }
.el-icon-close2:before { content: "\e68e"; }
.el-icon-excel:before { content: "\e68f"; }
.el-icon-menu:before { content: "\e690"; }
.el-icon-notice:before { content: "\e691"; }
.el-icon-asc2:before{content:"\e6bc";}
.el-icon-desc2:before{content:"\e6bd";}
.el-icon-upload2:before{content:"\e686";}

.el-icon-loading {
  -webkit-animation: rotating 1s linear infinite;  
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


